@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Irish+Grover&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #E6F5F1;
    width: 100%;  
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


#logo-section{
    /* margin-top: 1vh; */
}

#logo-section-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}


#logo-side{
    display: flex;
    align-items: center;
}
#logo-side h4{
	font-family:"irish grover" ;
	font-size: 22px;
	transform: translate(15px);
}


#logo-side > img{
    height: 4vh;
    width: 2vw;
}

#search-side > img{
    height: 5vh;
    width: 8vw;
}

#Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 13vh;
    width: 98.5%;
/* width: 100%; */
    background-color: #A1B28A;
    padding-left: 2vw;
}

a{
    text-decoration: none;
    font-family: Inika;
    font-size: 30px;
    font-weight: 400;
    line-height: 31.37px;
    text-align: left;
    color: black;
    width: 12vw;
}
h1{
	color: #1A0F97;
	font-family: Inika;
	font-weight: bold;
	text-align: center;
	margin: 60px;
	font-size: 32px;
}

#iconimages{
	display: flex;
	justify-content: space-around;
}
#headings{
	display: flex;
	justify-content: space-around;
	font-family: Inika;
	font-size: 26px;
	color: #BD2626;
}
#headings .heading3 {
	transform: translate(40px);
}
#headings .heading2 {
	transform: translate(40px);
}
#details{
	display: flex;
	justify-content: space-around;
	font-family: Inika;
	font-size: 26px;
	text-decoration: underline;	
}

#head2{
    color: #691A8E;
/*     color:rgba(255, 107, 0, 0.67); */
    text-align: center;
    margin-top: 40px;
    font-family: Inika;
    font-size: 38px;
}
.contactusform{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
font-family: Inika;
    margin-top: 35px;
    font-size: 26px;
}
#blank{
      width: 400px;
    height: 40px;
    background-color: #D9D9D9;
      line-height: 40px;
       padding-left: 20px;
       border-radius: 10px;
       margin-top: -20px;
}
#blank1{
    width: 980px;
    height: 80px;
    background-color: #D9D9D9;
    font-family: Inika;
    line-height: 40px;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 10px;
    transform: translate(80px);
    border-radius: 10px;
}
.contactusform h4{
font-weight: normal;
}

button{
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color:rgba(255, 107, 0, 0.67);
    transform: translate(500px);
    width: 145px;
    height: 42px;
    line-height: 39px;
    margin-top: 20px;
    font-family: judson;
}



/* footer */

  footer{
    background-color: #B8D3C7;
    width: 100%;
  }
  .container{
    height: 90vh;
  }

  .footerMenu{
    display: flex;
    justify-content: space-between;
/*     padding: 30px 0; */
  }

  .footerMenu ul li.FooterMenuHead{
    font-size: 34px;
    font-weight: 600;
    font-family: Inter;
  }
   .footerMenu ul li#footerhead2{
    transform: translate(-40px);
   }
    .footerMenu ul li#footerhead3{
    transform: translate(-20px);
   }
    .footerMenu ul li#footerhead4{
    transform: translate(-20px);
   }
    .footerMenu ul li#footercontent2{
    transform: translate(-30px);
   }

  .addrees{
    max-width: 320px;
    line-height: 50px;
  }

  .footerMenu ul{
    list-style: none;
  }

  .footerMenu ul a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
  }

  .footerMenu ul li{
/*     font-size: 30px; */
/*     margin-bottom: 20px; */
/*     line-height: 32px; */
margin-top: 30px;
  }

  .socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

  .socialIcons h3{
    font-size: 30px;
    font-weight: 600;
/* transform: translate(17vw); */
    font-family: Inter;
  }

  .socialIcons a{
    margin: 0 20px;
  }


  .copyright{
/*     width: 100%; */
    background-color: #495023;
    height: 10vh;
  }

  .copyright h5{
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    padding-top: 11px;
     font-family: Inter;
  }

  .socialIcons #icons{
    transform: translate(15px);
    gap: 30px;
/*     margin-top: -19px; */
    display: flex;
}
  /* footer end */