@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100..900&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100..900&family=Irish+Grover&family=Itim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Irish+Grover&family=Itim&display=swap');




*{
     margin: 0;
     padding: 0;
}
.container {
    width: 100%;
   
}

.flyHubHeader {
    
    width: 100%;
}

.logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
}

.logoHeader a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logoHeader a img {
    max-width: 40px;
    margin-right: 20px;
}

.logo {
    font-family: Irish Grover;
    font-size: 35px;
    color: #000000;
    font-family: irish grover;
    
}
.socialIcons a img{
    width: 33px;
    height: 33px;
  }
 /* .signupBtn {
     justify-content: end; 
    font-size: 30px;
  */

.navBar{
    width: 100%;
    margin-left: 0;
    font-family: inika;
}
.navBar ul li a {
    text-decoration: none;
    color: #000;
}
.navBar ul li {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 0;
    margin: auto;
    text-transform: capitalize;
}
header {
    padding-top: 50px;
    background-color: #E6F5F1;
}
.navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #A1B28A;
    margin-top: 20px;
}

/* footer */

  footer{
    background-color: #B8D3C7;
  }

  .footerMenu{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footerMenu ul li.FooterMenuHead{
    font-size: 40px;
    font-weight: 600;
  }

  .addrees{
    max-width: 320px;
  }

  .footerMenu ul{
    list-style: none;
  }

  .footerMenu ul a{
    text-decoration: none;
    color: #000;
  }

  .footerMenu ul li{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 42px;
  }

  .socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #B8D3C7;
}

  .socialIcons h3{
    font-size: 40px;
    font-weight: 600;
    margin-right: 30px;
  }

  .socialIcons a{
    margin: 0 20px;
  }


  .copyright{
    background-color: #495023;
    padding: 40px 0;
  }

  .copyright h5{
    font-size: 35px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
  }
  /* footer end */
  /* main container */
.contain{
    width: 100%;
    height: 3200px;
    background-color:rgb(227, 220, 220,1);
    position: relative;

}
/* head contain */
.head-bar{
    width: 100%;
    height: 340px;
    background-color: rgb(197, 71, 94,1);
    font-family: itim;
    font-size: 30px;
    color: rgb(255, 255, 255);
    /* position: absolute; */
    text-align: center;
    padding-top: 3rem;

}
/* big contain */
.big-container{
    top:0;
    left: 0;
    opacity: 0.9;
    margin: -250px auto;
    z-index: 9;
    max-width: 990px;
    height: 2750px;
    background-color: white;
    
}
.header{
    width: 942px;
    height: 200px;
    background-color: #D9D9D9;
    font-family: inika;
    padding-top: 3rem;
    padding-left: 3rem;

}
#heading{
    font-weight: 4px;
    font-size: 48px;
}
#button{
    margin-top: 2rem;
    width: 150px;
    height: 45px;
    background-color: rgb(191, 91, 55);
    border-radius: 5px;
    font-size: 27px;
    margin-left: 2rem;
    font-weight: 2rem;
    
   
}
.note-head{
    margin: 2rem;
    margin-top: 1.5rem;
    width: 823px;
    font-family: inika;
    height: 121px;
    background-color: rgb(231, 156, 205,0.14);
    padding: 3rem;
}
#head{
    font-size: 28px;
    color: rgb(27, 24, 24);
    padding-left: 1rem;
   
}
#para{
    padding-top: 1rem;
    padding-left: 1rem;
    size: 15px;
}
.main{
    padding-left: 3rem;
    font-family: inika;
}
h4{
    margin-top: 0.9rem;
}

.list-item{
      
   
    background-color: white;
    padding-left: 4rem;
    margin: 10px;
}

.item-logo{
    background-color: rgb(241, 198, 206,0.33) ;
    border-radius: 100%;
    width: 144.91px;
    height: 137.01px;
    margin-left: 2.5rem;
    /* justify-content: center;
    align-items: center; */
   
}
 .center {
     display: block;
     margin: 2rem;
     padding-top: 2rem;
   
  } 
  .item-text{
    margin: 1rem;
    font-family: Inria Serif;
    
   
  }
  h3{
    padding-bottom: 0.5rem;
   padding-left: 1rem;
   font-size: 23px;
    
  }
  .text{
    font-size:15px ;
    padding-left: 1rem;
  }


  /* flyhub ques */
  
.head-ques {
   
    text-align: start;
    font-size: 18px;
    margin-top: 5rem;
    font-family: Inria Serif;
}
.ques {
   
  
    width: 980px;
    align-items: start;
}

.ques li {
    list-style: none;
    width: 100%;
    padding: 5px;
}
.ques li label {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: start;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #bcb1b1;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}


input[type="radio"] {
    display: none;
}

.ques .content {
    background-color: #f7f5f5;
    text-align: left;
    padding: 0 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.ques input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.ques input[type="radio"]:checked + label::after {
    transform: rotate(135deg); 
}
.head1{
    padding: 2rem;
    font-size: 2rem;
    
}
.para1{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.home-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   
}
.item-menu{
    margin-left: 2rem;
    margin-right: 2rem;
}