*{
    padding: 0;
    margin: 0;
  }
  
  body{
      background-color: #E6F5F1;
  }
  
  
  /*------------------------------ main section */
  
  .main{
    background-color: #E6F5F1;
  }
  
  .nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 30px;
  }
  
  .logo{
    display: flex;
  }
  
  .logo img{
    width: 35px;
    height: 35px;
  }
  
  .logo p{
    font-family: "Irish Grover", system-ui;
    padding-left: 10px;
    font-size: 30px;
  }
  
  nav button {
    background-color: #F3DFB9; 
    color: #FF6B00;
    padding: 10px 28px;
    font-size: 20px;
    border-radius: 50px;
    width: 150px;
    border: none;
    display: flex;
    cursor: pointer;
  }   
  
  nav button img{
    height: 30px;
    width: 30px;
    background:none;
  }
  
  nav button p{
  background: none;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;
  }
  
  .nav2{
    height: 50px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #A1B28A;
    cursor: pointer;
  }
  
  nav  a{
    text-decoration: none;
    background: none;
    color: black;
    padding:25px;
    font-family: "Inika", serif;
    font-size: 23px;
  }
  
  
  /* ---------------------------first section */
  
  .first{
    background-color: #E6F5F1;
  }
  
  .first h1{
    background: none;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
  }
  
  .box {
    background-color: #C2CEC9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    height: 60px;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  
  /* ---------------------second section */
  
  .second{
  width: 100%;
  height: 400px;
  background-color: #E6F5F1;
  }
  
  .second h1{
    text-align: start;
    margin-left: 50px;
    margin-top: 18px;
    font-family: "Inika", serif;
    font-size: 35px;
  }
  
  .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 70px;
    
  }
  
  .box1{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    height: 60px;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .box1 h1{
    background: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  /*------------------------ thrid section */
  
  .third{
    height: 450px;
    background-color: #E6F5F1;
  }
  
  section .box2{
    border-radius: 5px;
    height: 200px;
    margin: 50px;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
  }
  
  .box2 strong {
    background: none;
    font-family: "Inika", serif;
    font-size: 30px;
  }
  
  .box2 li{
    background: none;
    font-family: "Inika", serif;
    font-size: 30px;
  }
  
  
  /*------------------- fourth section */
  
  .fourth{
    background-color: #B8D3C7;
    margin-top: 100px;
  }
  
  .container{
    padding: 100px;
   }
   
   .footerMenu{
     display: flex;
     justify-content: space-between;
   }
   
   .footerMenu ul li.FooterMenuHead{
     font-size: 40px;
     font-weight: 600;
     font-family: "Inter", sans-serif;
    }
   
   .addrees{
     max-width: 320px;
   }
   
   .footerMenu ul{
     list-style: none;
   }
   
   .footerMenu ul a{
     text-decoration: none;
     color: #000;
     
   }
   
   .footerMenu ul li{
     font-size: 30px;
     margin-bottom: 20px;
     line-height: 42px;
     font-family: "Inter", sans-serif;
  
   }
   
   .socialIcons{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .socialIcons h3{
     font-size: 40px;
     font-weight: 600;
     margin-right: 30px;
     font-family: "Inter", sans-serif;
   }
   
   .socialIcons a{
     margin: 0 20px;
   }
   
   .socialIcons img{
     width: 45px;
     height: 45px;
   }
   
   
   .copyright{
     background-color: #495023;
     padding: 40px 0;
     text-align: center;
   }
   
   .copyright h5{
     font-size: 35px;
     font-weight: 600;
     color: #FFF;
     text-align: center;
     background: none;
     font-family: "Inter", sans-serif;
  
   }
  
   @media only screen and (max-width: 1024px) {
    .nav1 {
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .logo p {
      font-size: 24px;
    }
  
    nav button {
      padding: 10px 20px;
      font-size: 18px;
    }
  
    nav button img {
      height: 25px;
      width: 25px;
    }
  
    nav button p {
      font-size: 18px;
      padding-top: 2px;
    }
  
    .first h1 {
      font-size: 22px;
    }
  
    .box {
      width: 85%;
      height: 50px;
      margin-top: 40px;
      margin-left: 30px;
      padding: 15px;
    }
  
    .second h1 {
      margin-left: 30px;
      font-size: 28px;
    }
  
    .boxes {
      padding-left: 50px;
    }
  
    .box1 {
      width: 80%;
      height: 50px;
      margin-top: 40px;
      margin-left: 30px;
    }
    
    .third{
      padding-bottom: 400px;
    }
  
    .box {
      background-color: #C2CEC9;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 90%;
      height: 60px;
      margin-top: 50px;
    }
    
    .box1 h1{
      background: none;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .boxes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: 80px;
    }
  }
  
  
  
  @media only screen and (max-width: 430px) {
    
    .nav1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .logo p {
      font-size: 20px;
    }
  
    nav button {
      padding: 8px 16px;
      font-size: 16px;
    }
  
    nav button img {
      height: 20px;
      width: 20px;
    }
  
    nav button p {
      font-size: 16px;
      padding-top: 2px;
    }
  
    .first h1 {
      font-size: 20px;
    }
  
    .box {
      width: 85%;
      height: 50px;
      margin-top: 40px;
      margin-left: 20px;
      padding: 15px;
    }
  
    .second h1 {
      margin-left: 20px;
      font-size: 24px;
    }
  
    .boxes {
      padding-left: 40px;
    }
  
    .box1 {
      width: 80%;
      height: 50px;
      margin-top: 40px;
      margin-left: 20px;
    }
    
    .third{
      padding-bottom: 300px;
    }
  
    .box1{
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 60%;
      height: 80px;
      margin-top: 50px;
    }
    
    .second{
      padding-right: 100px;
      height: 650px;
      background-color: #E6F5F1;
    }
  
    .box1 h1{
      align-items: center;
      justify-content: center;
      background: none;
      font-size: 18px;    
    }
  
    .boxes{
      gap: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .nav2{
      height: 500px;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      background-color: #A1B28A;
      cursor: pointer;
    }
    
    nav  a{
      text-decoration: none;
      background: none;
      color: black;
      padding:25px;
      font-family: "Inika", serif;
      font-size: 23px;
    }
  
    .third{
      height: 600px;
      background-color: #E6F5F1;
    }
    
    section .box2{
      border-radius: 5px;
      height: 200px;
      margin: 50px;
      align-items: center;
    }
  
    .fourth{
      background-color: #B8D3C7;
      margin-top: 100px;
      width: 100%;
    }
  
     
   .footerMenu{
    display: block;
   } 
  
   .footerMenu ul{
    padding-top: 20px;
   }
    
   .socialIcons{
    display: block;
    align-items: center;
   }
  
   .socialIcons h3{
    font-size: 28px;
    font-weight: 600;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
   }
  
   .socialIcons a{
    margin: 0 20px;
   }
  
   .socialIcons img{
    justify-content: center;
    align-items: center;
    padding-top:50px ;
    width: 35px;
    height: 35px;
   }
  }
    
  