body{

    background-color: #E6F5F1;
    
}
#logo-section{
    /* margin-top: 1vh; */
}

#logo-section-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}


#logo-side{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

#logo-side > img{
    height: 4vh;
    width: 2vw;
}

#search-side > img{
    height: 5vh;
    width: 8vw;
}

#Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 13vh;
    width: 98.5%;
    background-color: #A1B28A;
    padding-left: 2vw;

    /* border: 2px solid red; */

}

a{
    text-decoration: none;
    font-family: Inika;
    font-size: 30px;
    font-weight: 400;
    line-height: 47.37px;
    text-align: left;
    color: black;

    width: 12vw;

}


h1{
    margin-right: 2vh;
    font-family: Kumar One;
    font-size: 74.32px;
    font-weight: 400;
    line-height: 132.22px;
    text-align: left;

}

#reg-heading{
    margin-left: 35vw;
    display: flex;
}

/* #reg-heading h1{
    font-size: 10px;
} */

#reg-heading > img{
    margin-top: 12vh;
    height: 15vh;
    width: 8vw;
}


#form-lay{

    background-color: #A1B28A42;
    margin: 0 auto;
    margin-top: -5vh;
    width: 50%;
    height: 120vh;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#form-lay > h2{

    font-family: Kadwa;
font-size: 30px;
font-weight: 400;
line-height: 85.76px;
text-align: left;


}



#for-two-inp > input{
    width: 200px;
    height: 45px;
    /* top: 700px;
    left: 215px; */
    /* gap: 0px; */
    border-radius: 13;
    opacity: 0px;
}

#inp-tag{
    /* border: 2px solid red; */
    width: 76%;
}
#for-two-inp{

    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0 15vw;
}

input{
    width: 478px;
    height: 45px;
    /* top: 700px;
    left: 215px; */
    /* gap: 0px; */
    border: 2px solid white;
    border-radius: 13px;
    opacity: 0px;

}

::placeholder{
    font-size: 26px; /* Adjust the font size as per your preference */
    padding: 3vw;
    color: black;
}

#submit{

    width: 20vw;
    padding: 1vh 2vw;
    background-color: #FF6B00AB;

    font-family: Judson;
    font-size: 38.92px;
    font-weight: 400;
    line-height: 44.76px;
    /* text-align: left; */

    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
}


#have-an-account{
    width: 55%;
    /* border: 2px solid red; */
    display: flex;
}

#have-an-account h5{
    margin: 0;
    font-family: Literata;
    font-size: 22.82px;
    font-weight: 400;
    line-height: 48.74px;
    text-align: left;
    margin-right: 3vh;

}

#have-an-account button{

    width: 6vw;
    /* padding: 0.2vh 0.5vw; */
    background-color: #FF6B00AB;

    font-family: Judson;
    font-size: 18.92px;
    font-weight: 400;
    line-height: 44.76px;
    /* text-align: left; */

    border: 1px solid black;
    align-items: center;
    border-radius: 10px;

}

footer{
    background-color: #B8D3C7;
    width: 100%;
    margin-top: 10vh;
  }
  .container{
    height: 90vh;
  }

  .footerMenu{
    display: flex;
    justify-content: space-between;
/*     padding: 30px 0; */
  }

  .footerMenu ul li.FooterMenuHead{
    font-size: 34px;
    font-weight: 600;
    font-family: Inter;
  }
   .footerMenu ul li#footerhead2{
    transform: translate(-40px);
   }
    .footerMenu ul li#footerhead3{
    transform: translate(-20px);
   }
    .footerMenu ul li#footerhead4{
    transform: translate(-20px);
   }
    .footerMenu ul li#footercontent2{
    transform: translate(-30px);
   }

  .addrees{
    max-width: 320px;
    line-height: 50px;
  }

  .footerMenu ul{
    list-style: none;
  }

  .footerMenu ul a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
  }

  .footerMenu ul li{
/*     font-size: 30px; */
/*     margin-bottom: 20px; */
/*     line-height: 32px; */
margin-top: 30px;
  }

  .socialIcons{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-bottom: 50px; */
}

  .socialIcons h3{
    font-size: 30px;
    font-weight: 600;
/* transform: translate(17vw); */
    font-family: Inter;
    margin-top: -10vh;
    margin-left: 15vw;
  }

  #icons{
    margin-top: -14vh;
  }

  .socialIcons a{
    margin: 0 20px;
  }


  .copyright{
/*     width: 100%; */
    background-color: #495023;
    height: 10vh;
  }

  .copyright h5{
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    padding-top: 11px;
     font-family: Inter;
  }

  .socialIcons #icons{
    transform: translate(15px);
    gap: 30px;
/*     margin-top: -19px; */
    display: flex;
}
  /* footer end */

.copyright{
   background-color: #495023;
    text-align: center;
    height: 10vh;
    /* margin-top: 10vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "inter";
    font-size: 12px;
}