

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  
  /*------------------- Main Section ----------------*/
  
  
  .main {
    background-image: url("../images2/opera-house-3381786_1920.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
  }
  
  
  nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  nav .btn-red {
    background-color: red;
    color: white;
    padding: 18px 28px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 800;
    border: none;
  }
  
  nav button {
    background-color: #F3DFB9; 
    color: #FF6B00;
    padding: 10px 28px;
    font-size: 20px;
    border-radius: 50px;
    width: 150px;
    border: none;
    display: flex;
    cursor: pointer;
  }   
  
  nav button img{
    height: 30px;
    width: 30px;
    background:none;
  }
  
  nav button p{
  background: none;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;
  }
  
  .item{
    margin-right: 650px;
  }
  
  nav span p{
    color: #030766;
    font-size: 25px;
    font-weight: 900;
  }
  
  .hero {
    font-family: "Inter", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
  }
  
  .hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
  }
  
  
  .search-container img{
    width: 55px;
    height: 35px;
  }
  
  .search-container {
    display: flex;
    background-color: white;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    /* padding: 20px 100px 20px 40px; */
  
  }
  
  .main input {
    border-style: none;
  }
  
  
  /*------------First section----*/
  
  
  .first{
    margin-top: 40px;
  }
  
  .Second{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
  }
  
  .Third{
    margin-left: 140px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #F7F8EF;
    width: 80vw;
    height: 70vh;
    border-radius: 40px;
  }
  
  .container{
    padding-top: 200px;
  }
  
  .Third span{
    padding-left: 300px;
    font-size: 25px;
    margin-top: 500px;
  }
  
  .fourth{
    font-size: 20px;
    padding-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  } 
  
  .card{
    background-color: white;
    width: 250px; 
    height: 250px;
    border-radius: 30px;
    padding: 0 0 34px 0;
    margin: 50px;
  }
  
  .card h1{
    padding-left: 20px;
    padding-top: 20px;
    color: #D0E148;
  }
  
  .image{
    padding-left: 30px;
  }
  
  .content{
    padding: 10px ; 
  }
  
  .content p{
    font-size: 11px;
    color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 15px;
  }
  
  .A{
  font-size: 18px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  }
  
  
  /*---------------Second Section---------------*/
     
  
  .container1 h2{
    align-items: start;
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
  }
  
  .Fifth{
    padding-top: 30px;
   width: 80vw;
   height: 280vh;
   margin-left: 120px;
   padding-right: 30px;
   /* background-color:azure; */
  }
  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:0px;
    width: "80vw";
    align-items: center;
  }
  
  .cardd{
    background-color: #F9F6F6;
    width: 250px; 
    height: 320px;
    border-radius: 30px;
    padding: 0 20px 0px 0;
    margin: 50px;
  }
  
  .cardd img{
  width: 210px;
  height: 130px;
  }
  
  .contentt{
  margin-top: 30px;
  }
  
  .contentt p{
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .ic{
    display: flex;
    margin-left: 20px;
  }
  
  
  
  .fa-solid{
    padding-top: 5px;
    color: #F7BC64;
  
  }
  
  .button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .button button{
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #F7BC64;
    color: white;
    font-size: 10px;
    margin-top: 7px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button p{
    color: #F7BC64;
    font-weight: 700;
  }
  
  .container2 h2{
    align-items: start;
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
  }
  
  .container3 h2{
    align-items: start;
    display: flex;
    justify-content: start;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
  }
  
  
  /* <!--------------- third-Section ----------------------> */
  
  
  .sixth{
    width: 100vw;
    height: 160vh;
    background-color: #9EE3E7;
    margin-top: 20px;
  }
  
  .container4{
  text-align: center;
  padding-top: 20px;
  }
  
  .container4 p{
    font-size: 25px;
  }
  
  .container4 h2{
  font-size: 30px;
  }
  
  .note1{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #D8CFAD;
    color: rgb(9, 97, 100);
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note1  img {
    width: 100px;
    height: 90px;
  }
  
  .note2{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #D9D9D9;
    color: rgb(25, 25, 211);
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note2  img {
    width: 100px;
    height: 90px;
  }
  
  .note3{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #DCD6C6;
    color: brown;
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note3  img {
    width: 100px;
    height: 90px;
  }
  
  .note4{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #C9C6DC;
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note4  img {
    width: 100px;
    height: 90px;
  }
  
  .note5{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #C8DCC6;
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note5  img {
    width: 100px;
    height: 90px;
  }
  
  .note6{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #ACCDC7;
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note6  img {
    width: 100px;
    height: 90px;
  }
  
  .note7{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    border: 1px solid brown;
    margin:  auto;
    margin-top: 20px;
    background-color: #DDD5C6;
    padding-left: 40px;
    border-radius: 5px;
  }
  
  .note7  img {
    width: 100px;
    height: 90px;
  }
  
  
  /* ----------------Footer---------------- */
  
  
  .container{
   padding: 100px;
  }
  
  footer{
    background-color: #B8D3C7;
  }
  
  .footerMenu{
    display: flex;
    justify-content: space-between;
    /* padding: 30px 0; */
  }
  
  .footerMenu ul li.FooterMenuHead{
    font-size: 40px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  
  }
  
  .addrees{
    max-width: 320px;
  }
  
  .footerMenu ul{
    list-style: none;
  }
  
  .footerMenu ul a{
    text-decoration: none;
    color: #000;
  }
  
  .footerMenu ul li{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 42px;
    font-family: "Inter", sans-serif;
  
  }
  
  .socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 50px; */
  }
  
  .socialIcons h3{
    font-size: 40px;
    font-weight: 600;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
  
  }
  
  .socialIcons a{
    margin: 0 20px;
  }
  
  .socialIcons img{
    width: 45px;
    height: 45px;
  }
  
  
  .copyright{
    background-color: #495023;
    padding: 40px 0;
    text-align: center;
  }
  
  .copyright h5{
    font-size: 35px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
  
  }
  
  /* ---------------------Media Query ----------------*/
  
  
  @media only screen and (max-width: 1024px) {
  
  }
  
  
  
  @media only screen and (max-width: 430px) {
    .fourth{
      background-color: #B8D3C7;
      margin-top: 100px;
      width: 100%;
    }
  
     
   .footerMenu{
    display: block;
   } 
  
   .footerMenu ul{
    padding-top: 20px;
   }
    
   .socialIcons{
    display: block;
    align-items: center;
   }
  
   .socialIcons h3{
    font-size: 28px;
    font-weight: 600;
    margin-right: 30px;
    font-family: "Inter", sans-serif;
   }
  
   .socialIcons a{
    margin: 0 20px;
   }
  
   .socialIcons img{
    justify-content: center;
    align-items: center;
    padding-top:50px ;
    width: 35px;
    height: 35px;
   }
  }
  
  
  /*----------------- finish -------------------------*/